<footer class="fdb-block footer-small bg-dark pb-5">
  <div class="container">
    <div class="row text-center align-items-center">
      <div class="col-12 col-lg-2 text-lg-left">
        <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347093/LINC%20website/Home/logo.png") %>
      </div>

      <div class="col mt-4 mt-lg-0 text-center">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <%= link_to 'Home', root_path, class: 'nav-link active' %>
          </li>
          <li class="nav-item">
            <%= link_to 'About', page_path('about/linc'), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Contact', new_contact_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Privacy Policy', page_path('about/userpolicy'), class: 'nav-link' %>
          </li>
        </ul>
      </div>

      <div class="col-12 col-lg-2 mt-4 mt-lg-0 text-lg-right linc-orange">
        <!-- <a href="#" class="mx-2"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        <a href="#" class="mx-2"><i class="fab fa-facebook" aria-hidden="true"></i></a>
        <a href="#" class="mx-2"><i class="fab fa-instagram" aria-hidden="true"></i></a> -->
      </div>
    </div>

    <div class="row mt-4">
      <div style="font-size: 11px;" class="col text-center linc-grey">
        All website content ©LINC and may not be used without permission
      </div>
    </div>
  </div>
</footer>
