<nav class="navbar navbar-expand-md" id="navbar-main">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to 'Join LINC', "https://linc.linclion.org", target: "_blank", class: 'nav-link navbar-join-link' %>
            </li>
            <li class="nav-item">
                <%= link_to 'LINC login', "https://linc.linclion.org", target: "_blank", class: 'nav-link navbar-join-link' %>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347093/LINC%20website/Home/logo.png") %>
      <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to page_path('donate'), class: "nav-link", id:"donate" do %>
                 SUPPORT
              <% end %>
            </li>
        </ul>
    </div>
</nav>


<nav id="navbar-secondary" class="navbar navbar-expand-sm">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="text-center" id="navbarsExample11">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <%= link_to 'Home', root_path, class: 'nav-link navbar-linc-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'About LINC', page_path('about/linc'), class: 'nav-link navbar-linc-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Meet the Team', page_path('about/theteam'), class: 'nav-link navbar-linc-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Contact LINC', page_path('about/contact'), class: 'nav-link navbar-linc-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Our Blog', posts_path, class: 'nav-link navbar-linc-link' %>
                </li>
            </ul>
        </div>
    </div>
</nav>




