
<nav id="navbar-2" class="navbar navbar-scrollspy">
<%= link_to root_path, class: "navbar-brand logo-brand" do %>
    <%= image_tag("logo-white.png") %>
  <% end %>
  <ul class="nav mr-lg-auto mx-md-auto">
    <li class="nav-item">
      <%= link_to 'Background', "#thelions", class: 'navbar-scrollspy-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'How it works', "#howitworks", class: 'navbar-scrollspy-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'AI Tech', "#aitech", class: 'navbar-scrollspy-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'A Quick Look', "#aquicklook", class: 'navbar-scrollspy-link' %>
    </li>
  </ul>
  <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to page_path('donate'), class: "nav-link", id:"donate" do %>
           DONATE&nbsp; <i class="far fa-heart"></i><i class="fas fa-heart"></i>
        <% end %>
      </li>
  </ul>
</nav>

<div data-spy="scroll" data-target="#navbar-2" data-offset="0">
  <!-- <h4 id="fat">@fat</h4>
  <p>...</p>
  <h4 id="mdo">@mdo</h4>
  <p>...</p> -->
</div>





