
<nav id="navbar-2" class="navbar navbar-scrollspy fixed-bottom">
<%= link_to root_path, class: "navbar-brand logo-brand" do %>
    <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347049/LINC%20website/About/LINC_full_white.png") %>
  <% end %>
  <ul class="nav">
    <li class="nav-item">
      <%= link_to 'Background', "#thelions", class: 'navbar-scrollspy-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'How it works', "#howitworks", class: 'navbar-scrollspy-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'AI Tech', "#aitech", class: 'navbar-scrollspy-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'A Quick Look', "#aquicklook", class: 'navbar-scrollspy-link' %>
    </li>
  </ul>
</nav>

<div data-spy="scroll" data-target="#navbar-2" data-offset="0">
  <!-- <h4 id="fat">@fat</h4>
  <p>...</p>
  <h4 id="mdo">@mdo</h4>
  <p>...</p> -->
</div>





