
<section class="fdb-block" id="banner-team" style="background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1556462321/LINC%20website/Team/MEET_THE_TEAM.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <h1 class="text-right">Meet the Team</h1>
      </div>
    </div>
  </div>
</section>

<!-- Meet the team -->
<section class="fdb-block">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-8">
        <h1>Collaberators</h1>
        <p>
          LINC it is a collaborative effort with lion researchers across Africa; each organisation contributes data and ideas for new features.<br><br>
          Although development aspects of LINC are spearheaded by <%= link_to 'Lion Guardians', "http://lionguardians.org/", target: "_blank", class: '' %> and <%= link_to 'IEF R&D', "http://iefrd.com", target: "_blank", class: '' %>  we are proud to be a part of the growing coalition of conservationists and researchers collaborating on LINC:
        </p>
      </div>
    </div>

    <div class="row-50"></div>

    <div class="row text-center justify-content-center">
      <div class="col-sm-3 m-sm-auto">
        <%= link_to "http://www.kws.go.ke/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347116/LINC%20website/Team/Kenya-Wildlife-Service_logo.jpg", class: 'img-logo', id: 'kws-logo') %>
        <% end %>
        <p class="lead mt-4">Kenya Wildlife Service (KWS)</p>
        <p><em>Nation wide - Kenya</em></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <%= link_to "http://lionguardians.org/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347116/LINC%20website/Team/Lion_Guardians_logo.png", class: 'img-logo', id: 'lionguardians-logo') %>
        <% end %>
        <p class="lead mt-4">Lion Guardians</p>
        <p><em>Amboseli-Tsavo – Kenya ecosystem</em></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <%= link_to "http://www.marapredatorconservation.org/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347116/LINC%20website/Team/Mara_PCP_logo.jpg", class: 'img-logo') %>
        <% end %>
        <p class="lead mt-4">Mara Predator Conservation</p>
        <p><em>The Maasai Mara - Kenya</em></p>
      </div>
    </div>

    <div class="row-50"></div>

    <div class="row text-center justify-content-center">
      <div class="col-sm-3 m-sm-auto">
        <%= link_to "https://kopelion.org/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347116/LINC%20website/Team/KopeLion_logo.png", class: 'img-logo') %>
        <% end %>
        <p class="lead mt-4">Kope Lion</p>
        <p><em>Ngorongoro crater - Tanzania</em></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <%= link_to "http://soralo.org/rebuilding-pride/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347117/LINC%20website/Team/RTP_logo.png", class: 'img-logo') %>
        <% end %>
        <p class="lead mt-4">Soralo</p>
        <p><em>The South Rift - Kenya</em></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <%= link_to "http://www.soysambuconservancy.org/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347116/LINC%20website/Team/Soysambu_Conservancy.png", class: 'img-logo') %>
        <% end %>
        <p class="lead mt-4">Soysambu</p>
        <p><em>Soysambu Conservancy - Kenya</em></p>
      </div>
    </div>

    <div class="row-50"></div>

    <div class="row text-center justify-content-center">
      <div class="col-sm-3 m-sm-auto">
        <%= link_to "https://www.bornfree.org.uk/kenya", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347116/LINC%20website/Team/Born_Free_logo.png", class: 'img-logo') %>
        <% end %>
        <p class="lead mt-4">Born Free Foundation</p>
        <p><em>Meru-kora complex</em></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <%= link_to "#", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347116/LINC%20website/Team/Lion_Lanscapes.png", class: 'img-logo') %>
        <% end %>
        <p class="lead mt-4">Lion Lanscapes</p>
        <p><em>Laikipia</em></p>
      </div>

      <div class="col-sm-3 m-sm-auto">

      </div>
    </div>
  </div>
</section>

<section class="fdb-block">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-8 text-center">
        <h1>Supporters</h1>
        <p>The development of LINC has been made possible by the generous support of Microsoft's A.I. for Earth Program and many individual donors and foundations, since its inception.</p>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-3">
        <!-- <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1554377818/LINC%20website/Team/Microsoft-logo-768x195.png"> -->
      </div>
    </div>
  </div>
  </div>
</section>

