

<!-- Meet the team -->
<section class="fdb-block">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-8">
        <h1>Meet Our Team</h1>
        <p>
          LINC it is a collaborative effort with lion researchers across Africa; each organisation contributes data and ideas for new features.<br><br>
          Although development aspects of LINC are spearheaded by <%= link_to 'Lion Guardians', "http://lionguardians.org/", target: "_blank", class: '' %> and <%= link_to 'IEF R&D', "http://iefrd.com", target: "_blank", class: '' %>  we are proud to be a part of the growing coalition of conservationists and researchers collaborating on LINC:
        </p>
      </div>
    </div>

    <div class="row-50"></div>

    <div class="row text-center justify-content-center">
      <div class="col-sm-3 m-sm-auto">
        <%= link_to "http://www.kws.go.ke/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1546432848/LINC%20photos/Kenya-Wildlife-Service_logo.jpg", class: 'img-logo', id: 'kws-logo') %>
        <% end %>
        <p class="mt-4">Nation wide - Kenya</p>
        <p><%= link_to 'http://www.kws.go.ke/', "http://www.kws.go.ke/", target: "_blank", class: 'nav-link navbar-linc-link text-center' %></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <%= link_to "http://lionguardians.org/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1546436341/LINC%20photos/Lion_Guardians_logo.png", class: 'img-logo', id: 'lionguardians-logo') %>
        <% end %>
        <p class="mt-4">Amboseli-Tsavo – Kenya ecosystem</p>
        <p><%= link_to 'http://lionguardians.org/', "http://lionguardians.org/", target: "_blank", class: 'nav-link navbar-linc-link text-center' %></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <%= link_to "http://www.marapredatorconservation.org/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1546436342/LINC%20photos/Mara_PCP_logo.jpg", class: 'img-logo') %>
        <% end %>
        <p class="mt-4">The Maasai Mara - Kenya</p>
        <p><%= link_to 'http://www.marapredatorconservation.org/', "http://www.marapredatorconservation.org/", target: "_blank", class: 'nav-link navbar-linc-link text-center' %></p>
      </div>
    </div>

    <div class="row-50"></div>

    <div class="row text-center justify-content-center">
      <div class="col-sm-3 m-sm-auto">
        <%= link_to "http://www.marapredatorconservation.org/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1546437769/LINC%20photos/KopeLion_logo.png", class: 'img-logo') %>
        <% end %>
        <p class="mt-4">Ngorongoro crater - Tanzania</p>
        <p><%= link_to 'https://kopelion.org/', "https://kopelion.org/", target: "_blank", class: 'nav-link navbar-linc-link text-center' %></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <%= link_to "http://www.marapredatorconservation.org/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1546437771/LINC%20photos/RTp_logo.png", class: 'img-logo') %>
        <% end %>
        <p class="mt-4">The South Rift - Kenya</p>
        <p><%= link_to 'http://soralo.org/rebuilding-pride/', "http://soralo.org/rebuilding-pride/", target: "_blank", class: 'nav-link navbar-linc-link text-center' %></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <%= link_to "http://www.marapredatorconservation.org/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1546437772/LINC%20photos/Soysambu_Conservancy.png", class: 'img-logo') %>
        <% end %>
        <p class="mt-4">Soysambu Conservancy - Kenya</p>
        <p><%= link_to 'http://www.marapredatorconservation.org/', "http://www.marapredatorconservation.org/", target: "_blank", class: 'nav-link navbar-linc-link text-center' %></p>
      </div>
    </div>

    <div class="row-50"></div>

    <div class="row text-center justify-content-center">
      <div class="col-sm-3 m-sm-auto">
        <%= link_to "http://www.marapredatorconservation.org/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1546437946/LINC%20photos/Born_Free_logo.png", class: 'img-logo') %>
        <% end %>
        <p class="mt-4">Meru-kora complex</p>
        <p><%= link_to 'https://www.bornfree.org.uk/kenya', "https://www.bornfree.org.uk/kenya", target: "_blank", class: 'nav-link navbar-linc-link text-center' %></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <img alt="image" class="img-logo" src="#">
        <p class="mt-4">Central Rift Laikipia</p>
        <p><%= link_to 'https://www.lionlandscapes.org/', "https://www.lionlandscapes.org/", target: "_blank", class: 'nav-link navbar-linc-link text-center' %></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
      </div>
    </div>
  </div>
</section>

