
<section class="fdb-block" id="banner-team" style="background-image: url(https://res.cloudinary.com/lynn-de-souza/image/upload/v1556462321/LINC%20website/Team/MEET_THE_TEAM.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <h1 class="text-right">Meet the Team</h1>
      </div>
    </div>
  </div>
</section>

<!-- Meet the team -->
<section class="fdb-block">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-8">
        <h1>Collaborators</h1>
        <p>
          LINC is composed of a strong coalition of conservationists, researchers, developers, and funders. <%= link_to 'IEF R&D', "http://iefrd.com", target: "_blank", class: '' %> and <%= link_to 'Lion Guardians', "http://lionguardians.org/", target: "_blank", class: '' %> have spearheaded the development and financial aspects of LINC, but it has taken input from all the below organizations and individuals to make LINC a reality. Thank you!
        </p>
      </div>
    </div>

    <div class="row-50"></div>

    <div class="row text-center justify-content-center">
      <div class="col-sm-3 m-sm-auto">
        <%= link_to "http://www.kws.go.ke/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1556643923/LINC%20website/Team/KWS-100414-THUMB_1.jpg", class: 'img-logo', id: 'kws-logo') %>
        <% end %>
        <p style="margin-top:10px;"><em>Nation wide - Kenya</em></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <%= link_to "http://lionguardians.org/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347116/LINC%20website/Team/Lion_Guardians_logo.png", class: 'img-logo', id: 'lionguardians-logo') %>
        <% end %>
        <p style="margin-top:15px;"><em>Amboseli - Tsavo ecosystem – Kenya</em></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <%= link_to "http://www.marapredatorconservation.org/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347116/LINC%20website/Team/Mara_PCP_logo.jpg", class: 'img-logo') %>
        <% end %>
        <p style="margin-top:15px;"><em>The Greater Mara ecosystem - Kenya</em></p>
      </div>
    </div>

    <div class="row-50"></div>

    <div class="row text-center justify-content-center">
      <div class="col-sm-3 m-sm-auto">
        <%= link_to "https://kopelion.org/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347116/LINC%20website/Team/KopeLion_logo.png", class: 'img-logo') %>
        <% end %>
        <p style="margin-top:15px;"><em>Ngorongoro conservation area - Tanzania</em></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <%= link_to "http://soralo.org/rebuilding-pride/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347117/LINC%20website/Team/RTP_logo.png", class: 'img-logo') %>
        <% end %>
        <p style="margin-top:15px;"><em>The South Rift - Kenya</em></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <%= link_to "http://www.soysambuconservancy.org/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347116/LINC%20website/Team/Soysambu_Conservancy.png", class: 'img-logo') %>
        <% end %>
        <p style="margin-top:15px;"><em>Soysambu Conservancy - Kenya</em></p>
      </div>
    </div>

    <div class="row-50"></div>

    <div class="row text-center justify-content-center">
      <div class="col-sm-3 m-sm-auto">
        <%= link_to "https://www.bornfree.org.uk/kenya", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347116/LINC%20website/Team/Born_Free_logo.png", class: 'img-logo') %>
        <% end %>
        <p style="margin-top:15px;"><em>Meru-kora ecosystem - Kenya</em></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <%= link_to "https://www.lionlandscapes.org/", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1548347116/LINC%20website/Team/Lion_Lanscapes.png", class: 'img-logo') %>
        <% end %>
        <p style="margin-top:15px;"><em>Laikipia-Samburu ecosystem - Kenya</em></p>
      </div>

      <div class="col-sm-3 m-sm-auto">
        <%= link_to "", target: "_blank" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1556646851/LINC%20website/Team/UniversiteitLeidenLogo.svg.png", class: 'img-special') %>
        <% end %>
        <p style="margin-top:15px;"><em>Nairobi, Nakuru, Amboseli and Meru National Parks - Kenya</em></p>
      </div>
    </div>
  </div>
</section>

<section class="fdb-block">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-8 text-center">
        <h1>Supporters</h1>
        <p>Since its inception, LINC has been made possible by the generous support of individual donors, foundations and Microsoft's A.I. for Earth Program.</p>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-3">
        <!-- <img alt="image" class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1554377818/LINC%20website/Team/Microsoft-logo-768x195.png"> -->
      </div>
    </div>
  </div>
  </div>
</section>

