<section class="fdb-block" id="banner-contact">
  <div class="container align-items-center justify-content-end">
    <div class="row justify-content-end text-center">
      <div class="col-12 col-md-10 col-lg-12">
        <h1 class="text-right">CONTACT LINC</h1>
      </div>
    </div>
  </div>
</section>

<section class="fdb-block">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-12 col-md-8 col-lg-8">
        <h1>Contact Us</h1>
        <p>The team welcomes you to contact us with your comments and questions. If you are a LINC user and have suggestions or features requests please feel free to make recommendations here.<br><br>
        We are also always looking to talk with like-minded people or possible collaborators. If you are working with Neural networks and perception problems, can code in php, Ruby or Python, or are doing lion research/conservation yourself please contact us here.</p>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-12 col-md-6">
        <img class="img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1554282061/LINC%20website/Contact/NDJP0545-1.jpg">
      </div>

      <div class="col-12 col-md-6">
          <%= form_for @contact do |f| %>
          <% if flash[:error].present? %>
              <p> flash[:error]</p>
          <% end %>

          <div class="row">
            <div class="col">
              <%= f.label "Your name" %> <br>
              <%= f.text_field :name, required: true %>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <%= f.label "Your email address" %> <br>
              <%= f.text_field :email, required: true %>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <%= f.label "How can we help you?" %> <br>
              <%= f.text_area :message, as: :text %>
            </div>
          </div>

          <div class="hidden">
            <%= f.label :nickname %> <br>
            <%= f.text_field :nickname, hint: 'leave this field blank' %>
          </div>

          <div class="row mt-4">
            <div class="col justify-content-end">
              <%= f.submit 'Send Message', class: "btn btn-linc" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>



